@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

.container {
  width: 100%; /* Ancho máximo ajustado al 100% */
  max-width: 1170px; /* Ancho máximo limitado a 1170px */
  margin: 0 auto; /* Centrado horizontal */
  padding: 0 20px; /* Relleno lateral para evitar que el contenido se pegue a los bordes */
  box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1050px) {
  .FirstElement {
    flex-direction: column;
    padding-top: 2rem;
  }

  .profile-text {
    padding: 40px 0px;
  }
}

@media (max-width: 999px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 350px;
  }
}