.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-top: 60px;
  padding-top: 100px;
  position: relative;
}

.experience-title {
  margin-bottom: 60px;
  text-align: center;
  background-color: #202020;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.experience-title h4 {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #fed700;
  margin-bottom: 20px;
}

.experience-content .title {
  color: #fed700;
}

.experience-content .experience,
.experience-content .internship {
  color: #e5e5e5;
  margin-top: 30px;
  max-width: 1200px;
}

.experience-content h3.title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.experience-content .timeline-box {
  max-width: 100%;
  box-sizing: border-box;
}

.experience-content .timeline {
  padding: 30px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.experience-content .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.experience-content .internship .timeline-item {
  padding-bottom: 30px;
}

.experience-content .timeline-item:last-child {
  padding-bottom: 0;
}

.experience-content .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #fed700;
}

.experience-content .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.experience-content .timeline-title {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 12px;
}

.experience-content .internship .timeline-title {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.experience-content .timeline-text {
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .experience-content .experience,
  .experience-content .internship {
    max-width: 100%;
  }
}