.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #202020;
  padding: 25px 0;
  transition: padding 0.3s;
}

.header-area.sticky {
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.logo .fa-bolt {
  color: #fed700;
  font-size: 19.5px;
  position: absolute;
  top: 40%;
  left: 102%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.signature {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

.header .menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header .menu_icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.header .menu_icon .fa-bars {
  font-size: 2.2rem;
}

.header .language-menu {
  margin-left: 24px;
}

.header .language-menu-toggle .flag-icon {
  width: 33px;
  height: 33px;
}

.language-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.language-menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.flag-icon {
  width: 30px;
  height: 30px;
}

.language-submenu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  list-style: none;
  min-width: unset;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-submenu li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.header ul li a {
  text-transform: capitalize;
  display: block;
}

.header ul li a.active,
.header ul li a:hover {
  color: #fed700;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

@media (max-width: 768px) {
  .header-area {
    padding: 20px 0;
  }

  .header-area.sticky {
    padding: 20px 0;
  }

  .header .logo {
    display: none;
  }

  .header .menu-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .header .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .navbar li {
    margin: 10px 0;
  }

  .header .menu_icon {
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .header .language-menu-toggle .flag-icon {
    font-size: 2.42rem;
  }

  .header .language-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .header .language-menu-toggle .flag-icon {
    width: 42px;
    height: 42px;
  }
}