.FirstElement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; /* Reducido de 2rem a 1rem */
  min-height: 80vh; /* Reducido de 90vh a 80vh */
  transform: scale(1.05);
  overflow-x: hidden;
}

.FirstElement.adjusted-padding {
  padding-top: 42px;
}

.FirstElement .content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Ancho máximo ajustado al 100% */
}

.FirstElement .profile-photo {
  width: 346.5px;
  height: 346.5px;
  border-radius: 50%;
  overflow: hidden;
  border: 15.75px solid #444444;
  box-shadow: 5.25px 7.35px 26.25px rgba(0, 0, 0, 0.5);
  margin-right: 5.25rem;
}

.profile-photo .img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.FirstElement .profile-photo img:hover {
  transform: scale(1.2);
}

.profile-text {
  max-width: 866.25px; /* Aumentado en un 5% */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile-text h5 {
  color: #e5e5e5;
  font-size: 1.155rem; /* Aumentado en un 5% */
}

.profile-text h1 {
  color: #fed700;
  font-size: 3.465rem; /* Aumentado en un 5% */
}

.profile-text p {
  color: #e5e5e5;
  font-size: 1.155rem; /* Aumentado en un 5% */
}

.profile-text .social i {
  color: #e5e5e5;
  font-size: 1.7325rem; /* Aumentado en un 5% */
  margin-right: 10.5px; /* Aumentado en un 5% */
  transition: 0.5s;
}

.profile-text .social i:hover {
  color: #fed700;
  transform: rotate(360deg);
}

/*---------------------------Button---------------------------*/
.btn-group {
  margin: 51.975px 0; /* Aumentado en un 5% */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding: 13.86px 28.875px; /* Aumentado en un 5% */
  margin: 5.775px; /* Aumentado en un 5% */
  border-radius: 34.65px; /* Aumentado en un 5% */
  border: 2.31px solid #e5e5e5; /* Aumentado en un 5% */
  box-shadow: 0 11.55px 11.55px -9.24px rgb(0 0 0 / 78%); /* Aumentado en un 5% */
  transition: all 0.3s ease;
}

.btn.active {
  border-color: #fed700;
}

.btn:hover {
  background-color: #444;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .FirstElement {
    flex-direction: column;
    padding-top: 2.1rem; /* Aumentado en un 5% */
  }

  .FirstElement .content {
    flex-direction: column;
    align-items: center;
  }

  .FirstElement .profile-photo {
    width: 231px; /* Aumentado en un 5% */
    height: 231px; /* Aumentado en un 5% */
    margin-right: 0;
    margin-bottom: 2.1rem; /* Aumentado en un 5% */
  }

  .profile-text {
    max-width: 94.5%; /* Aumentado en un 5% */
    align-items: center;
    text-align: center;
  }

  .profile-text h1 {
    font-size: 2.31rem; /* Aumentado en un 5% */
  }

  .btn-group {
    justify-content: center;
  }

  .btn-group .btn {
    padding: 11.55px 23.1px; /* Aumentado en un 5% */
    font-size: 1.0395rem; /* Aumentado en un 5% */
  }
}

/* Estilos para pantallas de 13 pulgadas en adelante */
@media (min-width: 1024px) {
  .FirstElement {
    justify-content: center;
  }

  .FirstElement .content {
    justify-content: center;
  }
}